<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="box" @fade>
                <div class="work1">
                    <div class="layers">
                        <h3>House Reantal App</h3>
                        <p>This app helps people to find the house available for rent in rural area</p>
                        <a href="https://github.com/aswinraj3200/rental_miniproject"><i class="fa-solid fa-square-arrow-up-right" style="color: #fbf9f6;"></i></a>
                    </div>
                </div>
                <div class="work2">
                    <div class="layers">
                        <h3>Blind aid using RaspberryPi</h3>
                        <p>This is a hardware project using Raspberry-Pi and Arduino (Focused on Object detection)</p>
                        <a href="#"><i class="fa-solid fa-square-arrow-up-right" style="color: #fbf9f6;"></i></a>
                    </div>
                </div>
                <div class="work3">
                    <div class="layers">
                        <h3>Facebook login clone</h3>
                        <p>With help of html and Css simple UI of facebook login </p>
                        <a href="https://github.com/aswinraj3200/facebook-login-html-css"><i class="fa-solid fa-square-arrow-up-right" style="color: #fbf9f6;"></i></a>
                    </div>
                </div>
        </div>
        <a href="https://github.com/aswinraj3200" class="btn">See More</a>
    </div>

</body>
</html>
