<div class="container">
    <div class="box" @fade>
        <div class="web">
            <h2>Web Design</h2>
            <p>Creates simple web designs using HTML,CSS,JS and Angular</p>
            <a href="#">Learn more</a>
        </div>
        <div class="flutter">
            <h2>Flutter Apps</h2>
            <p>Creates simple mobile applictions using flutter dart</p>
            <a href="#">Learn more</a>
        </div>
        <div class="node">
            <h2>Backend Development</h2>
            <p>Creates Backend of an application using Node.js,MongoDB and Express.js</p>
            <a href="#">Learn more</a>
        </div>
    </div>
</div>
