<div class="container">
    <div class="box" @fade>
        <div class="dp">
            <div class="pic" style="margin-top: 50px;">
                <img src="/assets/images/aswin.jpeg" style="height: 300px; width: 300px;">
            </div>
            <div class="details">
                <h1> Hai it's me <span>ASWIN RAJ</span>
                </h1>
                <h2>Software Engineer</h2>
                <p style="color: white;">As a beginner in the field of Computer
            Science Engineer , I strive to associate
            myself with an organization where I can
            utilize my skills in the best possible
            manner, which further gives me an
            opportunity to grow in my career journey
            while contributing to the development of
            the organization</p>
            <a href="/assets/images/mycv.pdf" download class="btn">Resume
                <i class="fa-regular fa-file-pdf" style="color: #fbf9f6;"></i>  
            </a>
            <div class="media">
                <a href="https://www.instagram.com/aswin_r_2001/"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="https://www.linkedin.com/in/aswin-raj-432097230"><i class="fa-brands fa-linkedin"></i></a>
            </div>
            </div>
        </div> 
    </div>
</div>

