<div class="container">
    <div class="box" @fade>
        <div class="left">
            <h2>Educational Details</h2>
            <div class="tech"><h6>B.TECH-COMPUTER SCIENCE AND ENGINEERING</h6><br>
                <p>APJ ABDUL KALAM TECHNOLOGICAL UNIVERSITY<br>
                    Amal Jyothi College of Engineering<br>
                    Kanjirappally<br>
                    CGPA: 7.34</p>
            </div>
            <div class="school"><h6>STANDARD XII<br>2019</h6>
                <p>KERALA STATE | Technical Higher Secondary School,<br>
                    mallappally, pathanamthitta<br>
                    percentage:76%</p>
            </div>
            <div class="Hschool"><h6>STANDARD X<br>2017</h6>
            <p>KERALA STATE | Technical Higher Secondary School,<br>
                Mallappally,Pathanamthitta<br>
                percentage:91%</p></div>
        </div>
        <div class="right">
            <h2>Skills</h2>
            <ul class="list-container">
                <li class="list-item">C/C++</li>
                <li class="list-item">Html,CSS and JS</li>
                <li class="list-item">Angular.JS</li>
                <li class="list-item">Node.js,Express,MongoDB</li>
                <li class="list-item">Flutter/Dart</li>
                <li class="list-item">SQl</li>
            </ul>
        </div>
    </div>
</div>