<div class="container">
    <div class="box" @fade>
        <div class="left">
            <h1>Contact me</h1>
            <p id="email" style="font-weight: 100;"><i class="fa-regular fa-paper-plane"></i> : aswinr32001@gmail.com</p>
            <p id="phone"><i class="fa-solid fa-phone"></i> : +91 9061409677</p>
            <div class="media">
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="https://www.instagram.com/aswin_r_2001/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/aswin-raj-432097230"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
        <div class="right">
            <button><a href="https://forms.gle/8U5RDHkTo7MvsQ9e6">Send Response</a></button>
        </div>
    </div>
    <div class="copyright">
        <p>copyright <span><i class="fa-regular fa-copyright"></i></span> Aswin.Simple Ui made using <span><i class="fa-brands fa-angular"></i></span> Angular.js </p>
    </div>
</div>
