<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
       <div class="main">
         <div class="nav_bar">
          <div class="logo"><span>A</span>R.</div>
           <div>
             <ul class="list">
              <li routerLink="/home" routerLinkActive="active-link">Home</li>
              <li routerLink="/services" routerLinkActive="active-link">Services</li>
              <li routerLink="/about" routerLinkActive="active-link">Works</li>
              <li routerLink="/skills" routerLinkActive="active-link">Skills</li>
              <li routerLink="/contact" routerLinkActive="active-link">Contact</li>
             </ul>
          </div>
        </div>
       </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</body>
</html>